<!-- Frequently Asked Questions Container -->
<div class="w3-container" id="faqs" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Frequently Asked Questions</span></h5>
      <p><strong><u>Q: When is club fee due?</u></strong>
      <br><blockquote>First practice is free, but fee needs to be paid by the 2nd or 3rd practice. </blockquote></p>
      <p><strong><u>Q: What gear do I need? </u></strong>
      <br><blockquote>
              <p>For Practice: Wraps, boxing gloves (men’s 16-18 oz, women’s 12-14 oz), jump rope and shoes (boxing or running shoes are good).</p>
              <p> For Sparring (In addition): Headgear, mouthpiece, and cup for men or chest plate for women. </p>
              <p> Gears can be bought online from Amazon or the manufacturer’s website (do some research before purchasing). Gears can also be bought at a discounted price from coach Tyrone.</p>
      </blockquote></p>
      <p><strong><u>Q: Carpooling available for events?</u></strong>
      <br><blockquote>Yes, carpooling option is available for Sunday Practice, social bonding events. There will be a signup sheet for every event, so please check our Facebook page or event page and sign up for carpool if you need one.</blockquote></p>
      <p><strong><u>Q: Is this beginner’s friendly?</u></strong>
      <br><blockquote>Unfortunately, we cannot accept beginners. If you are a beginner, you would need to complete the Beginner’s Boxing Class (<a href="http://www.campusrec.uci.edu/classes/martial/index.asp" target="_blank">http://www.campusrec.uci.edu/classes/martial/index.asp</a>).</blockquote></p>
  <img src="./images/coachsam.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
</div>