body,
html {
  
  height: 100%;

  font-family: 'Inconsolata', sans-serif;
}
.img_container {
  width: 100%;
  left: 0;
  top: 3rem;
  display: block;
  /* background-color: rgb(41, 35, 35); */
}
img {
  width: 100%
}
.w3-display-bottomleft{left:0;bottom:0}
.w3-display-bottomright{right:0;bottom:0}